<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    <label for="schema">Schema:
    <input id="schema" name="schema" type="text">
  </label>
  </p>

  <p>
    <label for="asset">Asset Name:
    <input id="asset" name="asset" type="text">
  </label>
  </p>

  <p>
    <label for="img_bef_1">Image Before:
    <input id="img_bef_1" name="img_bef_1" type="file">
  </label>
  </p>

  <p>
    <label for="img_bef_2">Image Before2:
    <input id="img_bef_2" name="img_bef_2" type="file">
  </label>
  </p>

  <p>
    <label for="bias">Bias:
    <textarea id="bias" name="bias"></textarea>
  </label>
  </p>

  <p>
    <label for="img_aft_1">Image After:
      <input id="img_aft_1" name="img_aft_1" type="file">
    </label>
  </p>

  <p>
    <label for="img_aft_2">Image After2:
    <input id="img_aft_2" name="img_aft_2" type="file">
  </label>
  </p>

  <p>
    <label>Result:
    Tp:<input id="tp" name="result" type="radio">
    sl:<input id="sl" name="result" type="radio">
  </label>
  </p>

  <p>
    <label>
      Be: <input type="checkbox" name="be" id="radio">
    </label>
  </p>
  <p>
      Reason for Break Even: <textarea></textarea>
  </p>

  <input type="submit" value="Sumbit">




</form>

</body>
</html>