{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}

  </table>

  <datalist id="asset-list">
    {% for i in setup_model %}
      <option value="{{i.Asset_Name}}">{{i.Asset_Name}}</option>
    {% endfor %}
  </datalist>

  <button class="btn form-btn" type="submit"> Submit </button>
  <button onclick="window.location='{% url 'home:home' %}' ; return false;"  class="btn form-btn" type="submit">Cancel</button>

</form>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


{% endblock %}
